Source: gz-kura
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 13),
               libgz-cmake5-dev,
               libgz-common7-dev,
               libgz-fuel-tools11-dev,
               libgz-sim10-dev,
               libgz-gui10-dev,
               libgz-launch9-dev,
               libgz-math9-dev,
               libgz-msgs12-dev,
               libgz-physics9-dev,
               libgz-plugin4-dev,
               libgz-rendering10-dev,
               libgz-sensors10-dev,
               libgz-tools2-dev,
               libgz-transport15-dev,
               libgz-utils4-cli-dev,
               libgz-utils4-dev,
               libsdformat16-dev
Vcs-Browser: https://github.com/gazebo-release/gz-kura-release
Vcs-Git: https://github.com/gazebo-release/gz-kura-release
Homepage: http://gazebosim.org/

Package: gz-kura
Architecture: any
Section: libdevel
Depends: libgz-cmake5-dev,
         libgz-common7-dev,
         libgz-fuel-tools11-dev,
         libgz-sim10-dev,
         libgz-gui10-dev,
         libgz-launch9-dev,
         libgz-math9-dev,
         libgz-msgs12-dev,
         libgz-physics9-dev,
         libgz-plugin4-dev,
         libgz-rendering10-dev,
         libgz-sensors10-dev,
         libgz-tools2-dev,
         libgz-transport15-dev,
         libgz-utils4-cli-dev,
         libgz-utils4-dev,
         libsdformat16-dev,
         gz-launch9-cli,
         gz-plugin4-cli,
         gz-sim10-cli,
         gz-transport15-cli,
         sdformat16-cli,
         python3-gz-math9,
         python3-gz-msgs12,
         python3-gz-sim10,
         python3-gz-transport15,
         python3-sdformat16,
         ${misc:Depends}
Multi-Arch: foreign
Description: Collection of Gazebo packages - Kura
  This is a metapackage used for triggering the whole collection of Gazebo
  packages corresponding to the Kura collection
